:root{
  --background-color: #1A1A1D;

  --gray-text-color: #c2c2c2;
  --text-color: #ffffff;

  --malina-color: #6d3350;
  --light-malina-color: #a64d79;
}
body{
  background-color: var(--background-color);
}